body {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

.h1,
h1 {
  font-size: 64px;
  line-height: 80px;
  @include screen-768 {
    font-size: 50px;
    line-height: 1.2em;
  }
  @include portrait-phone {
    font-size: 40px;
  }
}
.h2,
h2 {
  font-size: 48px;
  line-height: 72px;
  @include screen-768 {
    font-size: 42px;
    line-height: 1.2em;
  }
  @include portrait-phone {
    font-size: 36px;
  }
}
.h3,
h3 {
  font-size: 36px;
  line-height: 54px;
  @include portrait-phone {
    font-size: 30px;
    line-height: 1.2em;
  }
}

.h4,
h4 {
  font-size: 24px;
  line-height: 36px;
}

.h5,
h5 {
  font-size: 20px;
  line-height: 30px;
}
.h6,
h6 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
  line-height: 30px;
}

.fs-24 {
  font-size: 24px;
  line-height: 36px;
}
.fw-5 {
  font-weight: 500;
}
p {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
}
input {
  &:focus {
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
  }
}
.form-select:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none !important;
}
textarea {
  &::-webkit-resizer {
    border-right: 15px solid var(--primary-color);
    border-top: 15px solid transparent;
  }
  &:focus-visible {
    outline: 0px;
    border: none !important;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
