/************************tr__Permission **************/
.tr__Permission {
    ul{
        list-style-type: disc;
        margin-left: 15px;
    }
}

/*******************tr__Site*************/
.tr__Site{
    ul{
        list-style-type: disc;
        margin-left: 15px;
    }
}

/***************tr__Security**************/
.tr__Security{
    ul{
        list-style-type: disc;
        margin-left: 15px;
    }
}