.cart-drawer-top {
  margin-bottom: 60px;
  p {
    font-size: 22px;
    font-weight: 500;
  }
}

.cart_table {
  padding: 22px 20px;
  overflow-x: auto;
  table {
    thead {
      tr {
        border-color: transparent;
        th {
          text-align: center;
          padding: 21px 0;
        }
      }
    }
    tbody {
      tr {
        border-color: transparent;
        td {
          text-align: center;
          vertical-align: baseline;
          padding-top: 24px;
          &.cart_product {
            width: 424px;
            min-width: 330px;
          }
          .item-calculator {
            width: 110px;
            height: 32px;
            min-width: 110px;
            button {
              width: 15px;
              height: 15px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              font-size: 10px;
            }
          }
          .del {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: var(--light-btn-color);
            transition: var(--transition-base);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background: var(-secondary-color);
              color: white;
            }
          }
        }
      }
    }
  }
}

.cart_title {
  h4 {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-gray);
  }
}
.subtotal {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-gray);
}

.shipping {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-gray);
  p {
    font-weight: 700;
    padding: 15px 0;
  }
  select {
    background-color: var(--primary-light);
    border: none;
    outline: none;
    height: 60px;
    padding-left: 15px;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
  }
  button {
    height: 60px;
    border-radius: 5px;
  }
}

.copon_code {
  padding-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-gray);
  input {
    background: var(--primary-light);
    border: none;
    outline: none;
    height: 60px;
    padding: 21px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.proceed {
  button {
    height: 60px;
    border-radius: 5px;
    font-weight: 500;
  }
}

.gift {
  p {
    i {
      font-size: 28px;
      display: inline-block;
      margin-right: 10px;
      color: black;
    }
  }
  button {
    padding: 4px 20px;
    border-radius: 4px;
  }
  textarea {
    background: var(--primary-light);
    color: #5a5a5a;
    border: none;
    width: 100%;
    padding: 20px 30px;
    font-weight: 500;
  }
  .form-check-input[type="checkbox"] {
    border-radius: 0.25em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='28' viewBox='0 0 23 28' fill='%23FE7C01'%3E%3Cg clip-path='url(%23clip0_555_2913)'%3E%3Cpath d='M22.9682 10.0835C23.0204 12.7035 23.0645 15.3153 22.1489 17.8337C20.4862 22.4197 17.5424 25.7302 12.932 27.4241C12.3015 27.6556 11.7151 27.6678 11.0927 27.4363C5.75932 25.4581 2.67097 21.5098 1.33362 16.0383C1.10069 15.0797 1.00028 14.0967 1.00028 13.1056C1.00832 10.8106 1.01635 8.51555 0.992251 6.22053C0.988235 5.68841 1.17297 5.39595 1.65089 5.18066C4.92799 3.71022 8.20109 2.21948 11.4702 0.728729C11.8316 0.562187 12.1569 0.558125 12.5264 0.728729C15.7473 2.20323 18.9641 3.67773 22.2011 5.11567C22.8155 5.38782 23.0043 5.76153 22.9802 6.40332C22.94 7.62598 22.9682 8.85676 22.9682 10.0835ZM9.58261 19.9947C9.84767 19.9378 10.0003 19.6982 10.181 19.5154C12.7955 16.8751 15.422 14.2429 18.0163 11.5823C19.3537 10.2094 19.4421 10.7334 17.932 9.13703C17.667 8.85676 17.4581 8.86082 17.2131 9.1411C17.0565 9.31982 16.8798 9.4823 16.7071 9.64884C14.4902 11.8626 12.2653 14.0683 10.0686 16.3024C9.65089 16.7289 9.37779 16.7411 8.98823 16.2942C8.53442 15.7743 8.02438 15.3031 7.54245 14.8157C6.35771 13.6174 6.36976 13.6296 5.24125 14.8482C4.90791 15.2097 4.92799 15.4453 5.25731 15.7743C6.55048 17.0701 7.82358 18.3862 9.10872 19.6941C9.24526 19.8241 9.36574 19.9744 9.58261 19.9947Z' fill='%23FE7C01' /%3E%3C/g%3E%3C/svg%3E");
    border: none !important;
    width: 27px;
    height: 27px;
  }
  .form-check-input:checked {
    background-color: transparent;
    border-color: transparent;
  }
}
