/*** slider arrow design ****/
.hm4_slider_arrow {
  .slick-list {
    padding-top: 20px;
    padding-bottom: 70px;
  }
  button {
    position: absolute;
    right: 0;
    top: -100px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid var(--hm4-secondary-color);
    transition: var(--transition-base);
    font-size: 18px;
    z-index: 333;
    &:hover {
      background-color: var(--hm4-secondary-color);
      color: var(--white-color);
    }
    &.prev-arrow {
      right: 65px;
      left: inherit;
      border-radius: 5px 0px 0px 5px;
      @include screen-992 {
        right: calc(50% + 10px);
        bottom: 0;
        top: auto;
      }
    }
    &.next-arrow {
      right: 0px;
      border-radius: 0px 5px 5px 0px;
      @include screen-992 {
        right: calc(50% - 60px);
        bottom: 0;
        top: auto;
      }
    }
  }
}

// hm4 hero section
.hm4_hero_slider_wrap {
  .hm4_hero_slider {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slick-list {
    padding-top: 0;
    padding-bottom: 0;
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid var(--danger-color);
    transition: var(--transition-base);
    font-size: 20px;
    z-index: 333;
    color: var(--danger-color);
    &:hover {
      background-color: var(--danger-color);
      color: var(--white-color);
    }
    &.prev-arrow {
      left: 40px;
      @include screen-1560 {
        left: calc(50% - 55px);
        bottom: 0;
        top: auto;
      }
    }
    &.next-arrow {
      right: 40px;
      @include screen-1560 {
        right: calc(50% - 55px);
        bottom: 0;
        top: auto;
      }
    }
  }
  .hm4_hero_slider {
    @include screen-1200 {
      padding: 100px 0;
    }
  }
}

.hm4-hero-section {
  background-color: #daeaea;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--hm4-secondary-color);
    z-index: -1;
    @include screen-1200 {
      display: none;
    }
  }
}

.hm4_hero_slider_wrap .slick-slide.slick-active .hm4-hero-left {
  h4 {
    animation: 1s theme_fadeInUp;
  }
  h1 {
    animation: 1.5s theme_fadeInUp;
  }
  p {
    animation: 2s theme_fadeInUp;
  }
  .hm4-hero-btns {
    animation: 3s theme_fadeInUp;
  }
}
.hm4-hero-left {
  .hero-subtitle {
    color: var(--danger-color);
    font-family: var(--body-font);
  }
  h1 {
  }
  p {
    color: #5a5a5a;
  }
  .hero-subtitle {
    color: var(--danger-color);
    font-family: var(--body-font);
  }
  p {
    color: #5a5a5a;
  }
}

.hm4-hero-images {
  padding-left: 80px;
  position: relative;
  z-index: 1;
  @media (max-width: 1399px) {
    padding-left: 0px;
  }
  &::before {
    width: 408px;
    height: 816px;
    background-color: var(--danger-color);
    position: absolute;
    left: 30px;
    top: -49px;
    content: "";
    z-index: -1;
    border-bottom-left-radius: 816px;
    border-top-left-radius: 816px;
    @media (max-width: 1399px) {
      display: none;
    }
  }
  img {
    border: 40px solid var(--white-color);
    border-radius: 50%;
  }
}

.hm4-ab-award-box {
  padding: 20px 30px;
  background-color: var(--hm4-secondary-color);
  max-width: 276px;
  position: absolute;
  left: 20%;
  top: 35%;
  display: flex;
  align-items: center;
  gap: 15px;
  .thumbnail {
    width: 60px;
    flex-shrink: 0;
  }
  h5 {
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--white-color);
  }
}
.hm4-about-left {
  overflow: hidden;
  @include screen-992 {
    margin-bottom: 70px;
  }
  .about-shape {
    position: absolute;
    left: 40px;
    bottom: 70px;
    animation: 10s circle_img ease;
    animation-iteration-count: infinite;
    @include screen-768 {
      left: 0;
      bottom: 0;
    }
  }
}
@keyframes circle_img {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hm4-hero-subtitle {
  font-family: var(--body-font);
  color: var(--danger-color);
  span {
    display: inline-block;
    transform: translateY(-5px);
  }
}

.hm4-feature-list {
  li {
    + li {
      margin-top: 20px;
    }
    .icon {
      color: var(--danger-color);
    }
    h6 {
      color: var(--danger-color);
      font-family: var(--body-font);
    }
  }
}

.hm4-author-box {
  .thumbnail {
    width: 60px;
  }
  span {
    color: var(--danger-color);
  }
}
.hm4-about-right {
  h4 {
    animation-duration: 1.5s;
  }
  h2 {
    animation-duration: 1.9s;
  }
  p {
    animation-duration: 2.3s;
  }
  ul {
    animation-duration: 2.7s;
  }
  div {
    animation-duration: 3.1s;
  }
}

/***************** collection section start ****************/
.hm4-product-card {
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: var(--transition-base);
  border-bottom: 5px solid transparent;
  .feature-image {
    img {
      width: 100%;
    }
    .pd-badge {
      padding: 3px 18px;
      display: inline-block;
      color: var(--white-color);
      font-size: 20px;
      font-weight: 600;
      border-radius: 5px;
      position: absolute;
      left: 10px;
      z-index: 2;
    }
    .sale-badge {
      background-color: var(--primary-color);
      top: 20px;
    }
    .new-badge {
      background-color: var(--secondary-color);
      top: 70px;
    }
    .social-icons {
      position: absolute;
      right: 10px;
      top: 20px;
      ul {
        li {
          a {
            width: 50px;
            height: 50px;
            border: 4px solid var(--white-color);
          }
        }
      }
    }
  }
  h4 {
    transition: var(--transition-base);
    &:hover {
      color: var(--danger-color);
    }
  }
  .pricing {
    del,
    span {
      font-size: 20px;
      color: var(--secondary-color);
    }
    del {
      opacity: 0.3;
    }
  }
  .card-explore-btn {
    padding: 12px 32px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 2px;
    display: inline-block;
  }
  &:hover {
    border-bottom: 5px solid var(--danger-color);
    .social-icons {
      ul {
        li {
          a {
            background-color: var(--danger-color);
          }
        }
      }
    }
    .card-explore-btn {
      background-color: var(--danger-color);
    }
  }
}

/********************* discount banner section ******************/
.hm4-discount-banner {
  padding: 190px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hm4-secondary-color);
    z-index: -1;
    opacity: 0.85;
  }
  h3 {
    color: var(--danger-color);
  }
}

.hm4-filter-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  button {
    padding: 4px 22px;
    background-color: transparent;
    color: var(--danger-color);
    border: 1px solid var(--danger-color);
    border-radius: 2px;
    color: var(--secondary-color);
    transition: var(--transition-base);
    font-size: 24px;
    &:hover {
      background-color: var(--danger-color);
      color: var(--white-color);
    }
    &.active {
      background-color: var(--danger-color);
      color: var(--white-color);
    }
  }
}

/*************** wcs section start ********************/
.wcs-left {
  overflow: hidden;
  @include screen-992 {
    margin-bottom: 80px;
  }
  & > p {
    max-width: 565px;
  }
  .hm4-hero-subtitle {
    animation-duration: 1.5s;
  }
  p.mb-30 {
    animation-duration: 1.8s;
  }
  ul {
    animation-duration: 2.2s;
  }
  p.mb-60 {
    animation-duration: 2.6s;
  }
  a {
    animation-duration: 3s;
  }
}

.wcs-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 500px;
  li {
    width: calc(50% - 12px);
    .icon {
      width: 35px;
      height: 35px;
      background-color: var(--danger-color);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      flex-shrink: 0;
    }
    p {
      max-width: 230px;
    }
  }
}

.wcs-right {
  .wcs-img-circle {
    border: 20px solid var(--white-color);
    position: absolute;
    left: -72px;
    top: 60px;
    z-index: 2;
    border-radius: 50%;
  }
}

.counter-box-wrapper {
  padding: 64px 50px;
  border: 5px solid var(--danger-color);
  border-radius: 20px;
  justify-content: space-between;
  gap: 30px;
  @include screen-628 {
    justify-content: center;
    padding: 64px 30px;
  }
}

.hm4-counter-box {
  position: relative;
  .number {
    width: 86px;
    height: 86px;
    background-color: var(--hm4-secondary-color);
    border-radius: 50%;
    border: 3px solid var(--danger-color);
    color: var(--white-color);
    font-size: 40px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 175px;
    top: 57px;
  }
  .circle-box {
    width: 200px;
    height: 200px;
    background-color: #daeaea;
    color: var(--secondary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  h4 {
    font-family: var(--body-font);
  }
}

.hm4-video-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 160px 0;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hm4-secondary-color);
    z-index: -1;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }
  a {
    position: relative;
    &::before {
      content: "";
      background: var(--danger-color);
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      animation: play_btn 1.7s ease-out infinite;
      z-index: -1;
      top: -5px;
      left: -5px;
    }
  }
}

.hm4-video-btn2 {
  width: 150px;
  height: 150px;
  background-color: var(--danger-color);
  border: 20px solid var(--white-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: var(--white-color);
  border-radius: 50%;
}

/*********************** deal section start ****************/
.hm4-product-card-2 {
  background-color: var(--white-color);
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 20px;
  .feature-image {
    border-radius: 4px;
    .sale-badge {
      padding: 2px 11px;
      background-color: var(--danger-color);
      color: var(--white-color);
      border-radius: 2px;
      position: absolute;
      left: 15px;
      top: 15px;
    }
  }
  a {
    h4 {
      transition: var(--transition-base);
      &:hover {
        color: var(--hm4-secondary-color);
      }
    }
  }
}

.hm4-product-card-2 {
  .product-meta {
    .rating-star {
      display: flex;
      align-items: center;
      li {
        i {
          color: var(--danger-color);
        }
      }
    }
    p {
      span {
        color: var(--danger-color);
      }
    }
  }
  .pricing {
    del,
    span {
      font-size: 20px;
      color: var(--secondary-color);
    }
    del {
      opacity: 0.3;
    }
  }
  .stock-progressbar {
    width: 300px;
    height: 6px;
    background-color: rgba(90, 90, 90, 0.3);
    position: relative;
    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 40%;
      height: 100%;
      background-color: var(--danger-color);
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -3px;
        width: 3px;
        height: 12px;
        background-color: var(--danger-color);
      }
    }
  }
  .stock-info {
    max-width: 300px;
  }
  .hm4-pd-countdown {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      width: 35px;
      height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(254, 124, 1, 0.4);
      color: var(--secondary-color);
      position: relative;
      font-weight: 700;
      border-radius: 50%;
      + li {
        &::before {
          content: ":";
          position: absolute;
          left: -12px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 18px;
        }
      }
    }
  }
  .hm4-secondary-btn {
    padding: 12px;
    border-radius: 3px;
  }
}

/************** DevHabib code start Home page 4**************** */
// Meet our team mate
.team_single {
  &:hover {
    .team_details {
      border-color: var(--danger-color);
    }
  }
  .team_img {
    border-radius: 5px 5px 0px 0px;
    a {
      display: block;
      overflow: hidden;
      border-radius: 6px;
    }
    img {
      width: 100%;
    }
    .team_hover {
      bottom: -20px;
      right: 15px;
      z-index: 22;
      background: #003d29;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: white;
      right: 18px;
      bottom: -18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: var(--danger-color);
        .social_icons {
          visibility: visible;
          opacity: 1;
          animation: 0.7s fadeInDown;
        }
      }
      .social_icons {
        position: absolute;
        top: -250px;
        visibility: hidden;
        opacity: 1;
        width: 40px;
        height: 240px;
        li {
          margin-top: 20px;
          &:hover {
            a {
              background: var(--danger-color);
            }
          }
          a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #003d29;
            color: white;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.team_details {
  background: var(--white-white);
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 6px solid transparent;
  transition: var(--transition-base);
}

// cartmate working process
.cartmate_working {
  &::after {
    background: rgba(0, 61, 41, 0.8) !important;
  }
}

// our customer feedback
.hm4_customer_feedback {
  .slick-list {
    .slick-track {
      .slick-slide {
        padding-top: 70px;
        padding-bottom: 30px;
      }
    }
  }
}
.customer_single {
  position: relative;
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
  background: url("../images/home-4/customer.png") no-repeat;
  background-size: cover;
  box-shadow: 3px 1px 10px -2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  @include screen-768 {
    background: none;
  }
  &:hover {
    img {
      border-color: var(--danger-color);
    }
    ul {
      li {
        i {
          color: var(--danger-color);
        }
      }
    }
    span {
      color: var(--danger-color);
    }
  }
  img {
    position: absolute;
    border: 3px solid transparent;
    left: 4px;
    top: -65px;
    z-index: 38;
    border-radius: 50%;
    transition: var(--transition-base);
  }
  ul {
    text-align: right;
    margin-right: 58px;
    margin-bottom: 34px;
    @include screen-768 {
      margin-right: 0px;
    }
    li {
      display: inline-block;
      i {
        transition: var(--transition-base);
      }
    }
  }
  span {
    font-size: 16px;
    font-weight: 400;
    transition: var(--transition-base);
  }
}

// our blog and news
.blog_news_item {
  &:hover {
    .blog_detail {
      border-color: var(--danger-color);
      box-shadow: none;
      .blog_meta {
        .bloger_icon {
          img {
            border-color: var(--danger-color);
          }
        }
        .bloger_date {
          span {
            background: var(--danger-color);
            color: var(--white-color);
          }
        }
      }

      .blog_comment {
        a {
          color: var(--danger-color);
        }
        span {
          font-size: 17px;
          i {
            color: var(--danger-color);
          }
        }
      }
    }
  }

  .blog_detail {
    background: var(--white-color);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border: 2px solid transparent;
    transition: var(--transition-base);
    .blog_meta {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(90, 90, 90, 0.3);
      .bloger_icon {
        img {
          border-radius: 50%;
          border: 2px solid transparent;
          transition: var(--transition-base);
        }
        p {
          font-weight: 400;
        }
      }
      .bloger_date {
        span {
          width: 31px;
          height: 30px;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #003d29;
          background: #daeaea;
          transition: var(--transition-base);
        }
        P {
          font-weight: 400;
        }
      }
    }

    .blog_info {
      padding: 20px 0;
      border-bottom: 1px solid rgba(90, 90, 90, 0.3);
      h4 {
        margin-bottom: 15px;
      }
    }

    .blog_comment {
      padding-top: 20px;
      a {
        color: var(--text-color);
        font-size: 17px;
        transition: var(--transition-base);
        i {
          font-size: 14px;
        }
      }
      span {
        font-size: 17px;
        i {
          transition: var(--transition-base);
        }
      }
    }
  }
}

// Brand area
.start_brand4 {
  @include screen-992 {
    padding-top: 60px;
  }
  .brand_slider_wrap {
    .slick-list {
      .slick-track {
        display: flex;
        align-items: center;
        .slick-slide {
          margin: 0 40px;
          .brand_item {
            img {
            }
          }
        }
      }
    }
  }
}

// footer section
.hm4_footer {
  background: var(--green-color);
  .footer_social4 {
    a {
      border-radius: 50% !important;
    }
  }
  .widget_link3 {
    li {
      padding-left: 20px !important;
      &::before {
        width: 7px;
        height: 7px;
        border-radius: 50%;
      }
      a {
      }
    }
  }
  .footer4_contacts {
    li {
      span {
        border-radius: 50% !important;
        background: var(--danger-color) !important;
      }
    }
  }
}
.footer_bottom4 {
  background: var(--danger-color);
  padding: 40px 0;
  p {
    color: white;
    font-weight: 400;
    a {
      font-weight: bold;
      color: white;
    }
  }
}

.pr {
  padding-left: 60px;
  @include screen-1200 {
    padding-left: 0px;
  }
}

.feature-section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.hm4-new-collection {
  padding-bottom: 40px;
}

.hm4-deal-section {
  padding-bottom: 40px;
  padding-top: 100px;
}

.blog_img a {
  display: block;
  overflow: hidden;
  img {
    transition: var(--transition-base);
    &:hover {
      transform: scale(1.1);
    }
  }
}

// responsive issue

.blog_news_container {
  @include screen-768 {
    padding-top: 80px;
  }
}

.footer_post {
  a {
    display: block;
  }
}
